{% extends "partials/base.html" %}

{% block title %}
{{ current_user.username }}
{% endblock %}

{% block content %}
<div class="container bg-white mt-5 p-3 rounded shadow">
    <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Username:</th>
              <td>{{ current_user.username }}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Password:</th>
              <td>{{ current_user.password }}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
{% endblock %}